<html>
    <head>
        <title>Django calculator</title>
    </head>
    <body>
        <section class="calculator">
            <h1>Django calculator aop</h1>
            <form method="post" action="{%url 'calculate' %}">
                {% csrf_token %}
                <label for="Number One">First Number</label>
                <input type="number" placeholder="first number" name="number_one">
                <label for="Number Two">Second Number</label>
                <input type="number" placeholder="second number" name="number_two">

                <label for="Operation">Operation</label>
                <select name="operation">
                    <option value="add">Add</option>
                    <option value="subtract">Subtract</option>
                    <option value="multiply">Multiply</option>
                    <option value="divide">Divide</option>
                </select>
                <input type="submit" value="Calculate" id="calc_btn" class="btn">
                <h3>The result is :{{result}}</h3>
            </form>

        </section>
    </body>
</html>